# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/

# Локальные файлы
setup_env.bat
*.log
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# PostgreSQL / Docker / Metabase
pgdata/
pgdata*/
metabase_data/
*.db

# Данные 
data/raw/**/*.json
data/normalized/**/*.csv
data/mart/**/*.csv

# Если Airflow генерирует отчеты качества данных в json/html
docs/airflow/*_report.json
