# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/

# Локальные файлы
setup_env.bat
*.log
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# PostgreSQL / Docker
pgdata*
*.db

# Другие данные 
data/raw/*
!data/raw/variant_03/
!data/raw/variant_03/**
